body
{
background: #d0e4fe url("/NewMascot.png") no-repeat top right fixed;
}
.appendVersionText
{
after: " 0.1.1.pre"
}
a:hover{
color:orange;
}
h1
{
color:orange;
text-align:center;
}

p
{
font-family:"Times New Roman";
font-size:20px;
}
.returnData
{
font-family:"Courier New";
font-size:12px;
white-space: pre;
}
.returnDataTable
{
font-family:"Courier New";
font-size:12px;
white-space:pre;
text-align:left;
left-margin:0;
text-indent:0;
border: 1px solid black;
}
.returnDataTableFail
{
font-family:"Courier New";
font-size:12px;
white-space:pre;
text-align:left;
left-margin:0;
text-indent:0;
color:red;
border: 1px solid black;
}
.returnDataHeader
{
font-family:"Courier New";
font-size:12px;
text-align:center;
background:yellow;
}
.grayoutTableCell
{
font-family:"Courier New";
font-size:12px;
white-space:pre;
text-align:left;
left-margin:0;
text-indent:0;
border: 1px solid black;
background:gray;
}
.scrolledInputBox
{
font-family:"Courier New";
font-size:12px;
height: 400px;
width: 260px;
overflow: auto;
}
.scrolledInputBoxShort
{
font-family:"Courier New";
font-size:12px;
height: 150px;
width: 260px;
overflow: auto;
}
.scrolledInputBoxWide
{
font-family:"Courier New";
font-size:12px;
height: 400px;
width: 800px;
overflow: auto;
}
.masterGid
{
font-family:"Courier New";
font-size:12px;
width: 260px;
}
.histogramDisplay
{
height: 100px;
width: 200px;
}

.summeryHistogramDisplay
{
text-align:center;
}
.borderBox
{
border:1px solid;
border-radius:2px;
-moz-border-radius:2px; /* Old Firefox */
width:300px;
margin-right:auto;
} 



#CalendarControlIFrame {
  display: none;
  left: 0px;
  position: absolute;
  top: 0px;
  height: 250px;
  width: 250px;
  z-index: 99;
}

#CalendarControl {
  position:absolute;
  background-color:#FFF;
  margin:0;
  padding:0;
  display:none;
  z-index: 100;
}

#CalendarControl table {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  border-left: 1px solid #336;
  border-right: 1px solid #336;
}

#CalendarControl th {
  font-weight: normal;
}

#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center;
}

#CalendarControl .header {
  background-color: #336;
}

#CalendarControl .weekday {
  background-color: #DDD;
  color: #000;
}

#CalendarControl .weekend {
  background-color: #FFC;
  color: #000;
}

#CalendarControl .current {
  border: 1px solid #339;
  background-color: #336;
  color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border: 1px solid #FFF;
  width: 2em;
}

#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #336;
  border: 1px solid #999;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 3px 1px 3px;
  font-size: 1.4em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

#CalendarControl .title {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

#CalendarControl .empty {
  background-color: #CCC;
  border: 1px solid #FFF;
}

.shadowed {
  box-shadow: 6px 5px  2px 2px rgba(68,68,68,0.6);
}

.top_right {
  position: absolute;
  top: 0px;
  right: 0px;
}


















